body{
    background: linear-gradient(white, #5DADE2);
  }
  
  #start-btn
  {
      width: 40%;
  } 

  #camera
  {
      width:360px;
      height: 250px;
      border-radius: 10px;
  }

  label{
    background-color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 50px;
  }

  #logo_img
  {
      width: 150px;
      border-radius: 100px;
  }

  #textbox
  {
      width: 300px;
      border-radius: 50px;
      box-shadow: 2px 2px 2px grey ;
  }

  button, button img{
    border-radius: 50% !important;
  }
  
